retry:
  initial-delay: 1
  max-delay: 2
  maxAttempts: 1
spring:
  cache:
    type: none
  datasource:
    driver-class-name: org.testcontainers.jdbc.ContainerDatabaseDriver
    url: jdbc:tc:mariadb:10.6:///
  jpa:
    properties:
      hibernate:
        format_sql: true
        hbm2ddl:
          schema-generation:
            script:
              append: false
      jakarta:
        persistence:
          schema-generation:
            create-source: metadata
            database:
              action: update
            scripts:
              action: create
              create-target: target/database/generated-schema.sql
integration:
  arendeexport:
    url:
  case-data:
    oauth2ClientId: clientId
    oauth2ClientSecret: clientSecret
    oauth2TokenUrl: token.url
    url: case-data.url
    namespaces:
      2281:
        - "NAMESPACE_1"
        - "NAMESPACE_2"
      2282:
        - "NAMESPACE_3"
        - "NAMESPACE_4"
  alk-t:
    oauth2ClientId: clientId
    oauth2ClientSecret: clientSecret
    oauth2TokenUrl: token.url
    url: alk-t.url
  citizen:
    oauth2ClientId: clientId
    oauth2ClientSecret: clientSecret
    oauth2TokenUrl: token.url
    url: citizen.url
  eventlog:
    oauth2ClientId: clientId
    oauth2ClientSecret: clientSecret
    oauth2TokenUrl: token.url
    url: eventlog.url
  party:
    oauth2ClientId: clientId
    oauth2ClientSecret: clientSecret
    oauth2TokenUrl: token.url
    url: party.url
  fb:
    database: test_db
    password: test_pass
    url: fb.url
    username: test_user
  lantmateriet:
    oauth2ClientId: test_key
    oauth2ClientSecret: test_secret
    oauth2TokenUrl: token.url
    registerbeteckning:
      url: lantmateriet.url
  messaging:
    channel: channel
    client-id: test_user
    client-secret: test_pass
    token: token
    token-uri: token.url
    url: messaging.url
  minutmiljo:
    password: test_pass
    url: minutmiljo.url
    username: test_user
  minutmiljoV2:
    url: minutmiljoV2.url
  oep-integrator:
    url: opene.url
    oauth2ClientId: clientId
    oauth2ClientSecret: clientSecret
    oauth2TokenUrl: token.url
  edp-future:
    url: edpfuture.url
    read-timeout: 60
    connect-timeout: 5
    api-key: 12345
